@import './variables.scss';

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.c-search {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  padding: 0 15px;

  .c-search__icon {
    display: flex;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
    color: $light;
  }

  .c-search__field {
    input {
      border: 0 !important;
      outline: none;
      color: $light;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }
  }
}

.c-main {
  background: $main-background;

  .c-header {
    display: flex;
    justify-content: center;
    padding: 30px 10px;

    h1 {
      margin-block-start: 0;
      margin-block-end: 0;
      color: $light;
      text-align: center;
    }
  }

  .c-home {
    height: 75vh;

    .c-home__search-stocks {
      width: 100%;
      display: flex;
      justify-content: center;

      .c-home__search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        .c-search {
          background: rgba($dark, 0.4);
          margin: 0 15px;
        }
      }
    }

    .c-home__stock-details {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 50px 15px;

      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
      }

      .c-home__detail {
        display: flex;
        justify-content: center;
        color: $light;

        @media screen and (max-width: 700px) {
          margin-bottom: 50px;
        }
      }

      .c-home__stock-price-details {
        .c-home__content {
          text-align: right;

          @media screen and (max-width: 700px) {
            text-align: left;
          }
        }
      }
    }
  }

  .c-footer {
    color: $light;
    padding: 60px 10px 15px 10px;
    display: flex;
    justify-content: center;
    text-align: center;

    small {
      a {
        color: $light;
      }
    }
  }
}
